/* ====================
    Responsive
=================== */


/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container{
        width: 100%;
    }
	.players{
        grid-template-columns: repeat(2, 1fr);
    }
    .player{
        flex-direction: column;
    }
    .section-title{
        text-align: center;
    }
    .blog-post{
        grid-column-gap: 20px;
    margin-left: 30px;
    }
    .course{
        margin-left: 25px;
        grid-column-gap: 0;
    }
}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	.container{
        width: 100%;
    }
	.players, .blog-post, .course{
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .blog{
        flex-direction: column;
        padding: 0 10px;
        text-align: center;
    }
	.section-title{
        text-align: center;
    }
    .coureses{
        text-align: center;
        margin-bottom: 25px;
        margin-left: 25px;
    }
}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	

}


/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
	
}