/* ============================
            Google Fonts 
==================================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap');

/* ====================

=================== */
/* ====================
common styles
=================== */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     background: #F3F1FF;
     font-family: poppins;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;

}
.container{
    width: 870px;
    background: #fff;
    padding: 30px;
    margin-top: 26px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/* ====================
Top leader section 
=================== */
.section-title {
    margin-top: 3px;
    color: #562EFF;
}
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
    padding-right: 16px;
}
.player-name {
    font-size: 18px;
}
hr{
    border: 1px solid #ddd;
    margin-top: 30px;
    margin-bottom: 30px;
}
/* ====================
Top Blog area 
=================== */
.top-blog {
}
.section-title {
}
.blog-post {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog {
    display: flex;
    align-items: center;
}
.thumbnials {
}
.thmb-img {
    width: 177px;
    height: 117px;
    margin-right: 16px;
}
.blog-details {
}
.blog-title {
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 6px;
}
.author-title {
    margin-top: 0;
    color: #9F9F9F;
}
p.author-title a {
    text-decoration: none;
    color: #562EFF;
    font-size: 16px;
}

.course-area {
}
.course {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 53px;
}
.coureses {
    height: 270px;
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    padding:  0 13px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.course-details {
}
.course-banner {
    width: 224px;
    height: 104px;
}
.course-title {
    font-family: Roboto;
    font-size: 20.0336px;
}
.course-autor{
    font-family: Roboto;
    font-size: 15px;
    color: #ED6B4F;
}
.course-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ratting {
}
.fas {
}
.fa-star {
    font-size: 12px;
}
.filled {
    color: #FFC014;
}
.emapty {
    color: #AEAEAE;
opacity: 0.25;
}
.duration {
    background: #FEE5DF;
    border-radius: 15px;
    padding:5px 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    color: #ED6B4F;
    font-size: 14px;
}
.fa-clock {
}
